table{background-color: #gray;width: 800px;;margin-left: auto;margin-right: auto;}
td{border-style:solid;border-color: white;}
th{font-size: 25px;fon t-family: Arial;}
.titulo{font-size: 100px;fon t-family: "Bookman Old Style"; color: black}
.derecho{font-size: 20px;font-family:Bookman Old Style }
.imgprin{widht:55s0px;height: 550px}
.prd{widht:200px;height:150px}
.estilos{widht:50 px;height:50px}
.centrar{text-align: center; font-family: "Century Gothic";}
