table{background-color: #ffffff;width: 800px;margin-left:auto;margin-right: auto;}
td{border-style: solid;border-color: white;}
th{font-size: 25px;font-family: Arial;}
.titulo{font-size: 100px;font-family: "Eras Demi ITC";}
.imgprin{width:1300px;height:750px; }
.nikeblue{width:500px;height:300px}
.nikered{width: 500px;height:300px}
.niketravis{width: 100px;height:70px}
.nikedior{width: 90px;height: 100px}
.redes{width:70px;height: 60px}
.nike{font-size: 15px;font-family: "arial black";}
.subutitulo{font-size: 50px; font-family:"arial black" }
.titulo2{font-size: 65px;font-family: "Arial black";}
.informacion{font-size:15px;}
.pri{width: 300px;height: 250px;}